@import "tailwindcss";

@theme {
  --color-primary: #0066ff;
  --color-secondary: #111827;
  --color-accent: #ffb800;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}